*.class
.cider-ci_private/
.cpcache/
.mux.yml
/.lein-*
/.nrepl-port
/checkouts
/classes
/config/settings.local.yml
/log
/madek-api.jar
/target
/tmp
pom.xml
pom.xml.asc
resources/built-info.yml
spec/config/database.yml
.vscode/