[submodule "resources/browser"]
	path = resources/browser
	url = https://github.com/Madek/madek_api-browser_build.git
[submodule "datalayer"]
	path = datalayer
	url = https://github.com/Madek/madek-datalayer.git
[submodule "docs"]
	path = docs
	url = https://github.com/Madek/madek_api-docs.git
[submodule "docs_source"]
	path = docs_source
	url = https://github.com/Madek/madek_api-docs_source.git
