[Unit]
Description=Madek API Service
After=syslog.target
After=network.target

BindsTo=madek-datalayer.service
After=madek-datalayer.service
PartOf=madek-datalayer.service

StartLimitIntervalSec=180
StartLimitBurst=6


[Service]
WorkingDirectory={{madek_api_dir}}
User={{madek_api_user}}
Group={{madek_api_user}}

Restart=on-failure
Restart=always
RestartSec=5

Environment=TMPDIR={{madek_tmp_dir}}
Environment=HTTP_SERVER_PORT={{madek_api_port}}
Environment=PGUSER={{database.user}}
Environment=PGPASSWORD={{database.password}}
Environment=PGPORT=5415
ExecStart=/usr/bin/env java "-Xmx{{ madek_api_service_xmx }}m" \
  -jar madek-api.jar server

[Install]
WantedBy=multi-user.target

# vi: ft=systemd
